.App {
    margin: 0 auto;
    text-align: center;
}

.card {
    width: 50%;
    height: 200px;
    float: left;
}

.App h4 {
    color: wheat;
}

.logo {
    width: 300px;
}

.ring-1 {
    width: 10px;
    height: 10px;
    margin: 0 auto;
    padding: 10px;
    border: 7px dashed #4b9cdb;
    border-radius: 100%;
}

.ring-1 {
    animation: loadingD 1.5s .3s cubic-bezier(.17, .37, .43, .67) infinite;
}

@keyframes loadingD {
    0 {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}